
    
.child{
    
    height:50px ;
    border: 2px solid black;
    background-color: aqua;
    
    
}
.parent{
    width:500px;
    height:400px;
    background-color: grey;
    display: flex;
    
}
.child-one{
    background-color: aliceblue;
    flex: 1;
}
.child-two{
    background-color: black;

}
.child-three{
    background-color: yellow;
    flex: 1;

}