body{
    width: 100vw;
    height: 500px;
    background-color: white;
}


.parent{
    display: flex;
    justify-content: space-evenly;

    

}
.hone{
    font-family: 'Alkalami', serif;
}
.child{
    height: 300px;
    width: 22%;
    background-color:rgb(209, 221, 235);
    border: 2px solid black;
    text-align: center;


}
.second{
    margin-top:10px;
    display: flex;
    justify-content: space-evenly;
    

}
.sec{
    height: 300px;
    width: 22%;
    background-color:rgb(209, 221, 235);
    border: 1px solid black;
    text-align: center;


}
.pic{
    height:230px;
    width:330px;

}

.pic1int{
    background-color: black;
    color: white;
}
