*{
    background-color: black;color: white;
}

body {
    margin: 0;
}

.one{
    display: flex;
    margin-left:27%;
    
}
.first{
    margin-right: 5px;
    background-color: aqua;
    width: 100px;
    height: 140px;
    border: 2px solid black;
}
.fone{ background-color: rgba(58, 47, 62, 0.997);}
.ftwo{background-color: rgb(114, 184, 114);}
.fthree{background-color: rgb(15, 190, 88);}
.ffour{background-color: rgb(13, 239, 13);}
.ffive{background-color: rgb(204, 157, 204);}

.two{
    display: flex;
    margin-left: 20%;
    margin-top: 2%;
}

.sec{
    margin-right: 5px;
    background-color: aqua;
    width: 100px;
    height: 140px;
    border: 2px solid black;
}
.sone{background-color: orange;}
.stwo{background-color: rgb(197, 9, 115);}
.sthree{background-color: rgb(131, 64, 131);}
.sfour{background-color: rgb(189, 12, 243);}
.sfive{background-color: rgb(42, 1, 76);}
.ssix{background-color: rgb(103, 71, 135);}
.sseven{background-color: rgb(44, 43, 43);}

.three{
    display: flex;
    margin-left: 13%;
    margin-top: 2%;
}

.third{
    margin-right: 5px;
    background-color: antiquewhite;
    width: 100px;
    height: 140px;
    border: 2px solid black;
}
.tone{background-color: rgb(8, 228, 240);}
.ttwo{background-color: rgb(62, 188, 121);}
.tthree{background-color: rgb(163, 138, 93);}
.tfour{background-color: rgb(89, 1, 73);}
.tfive{background-color: rgb(51, 29, 29);}
.tsix{background-color: rgb(1, 209, 250);}
.tseven{background-color: rgb(40, 117, 91);}
.eight{background-color: rgb(105, 66, 141);}
.tnine{background-color: rgb(62, 17, 70);}