.parent{
    background-color: aqua;
    width: 60%;
    height: 100px;
}
.child{
    background-color: azure;
    width:70vw;
    margin-top: 20px;
}
body{
    background-color: black;
    height:100vh;
    width: 100vw;
}